/*CSS DOCUMENT*/

@import url(https://use.typekit.net/hvp0lmd.css);

img {
    width: 100%; 
}

h1 {
    width: 6.5em;
    margin-left: 1.2em;
}

body {
    background-color: rgb(243, 238, 213);
}

nav ul li{
    display: inline;
    list-style: none;
    text-transform: uppercase;
    margin-right: 1em;
    font-family: sans-serif;
}

nav ul li a{
    color: rgb(99, 91, 62);
    text-decoration: none;
    font-family: hypatia-sans-pro,sans-serif;
    font-weight: 550;
}

h2{
    font-family: chantal,sans-serif;
    font-weight: 600;
    font-size: 2em;
    font-style: normal;
    color: rgb(99, 91, 62);
    margin: 1.2em;
}

h3{
    font-family: chantal,sans-serif;
    font-weight: 600;
    font-size: 1.3em;
    font-style: normal;
    color: rgb(99, 91, 62);
    margin-top: 2em;
}

h3.coffee{
    font-family: chantal,sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    font-style: normal;
    color: rgb(99, 91, 62);
    margin-top: 5.5em;
    margin-left: 1.7em;
}

.menustyle ul{
    font-family: hypatia-sans-pro,sans-serif;
    font-weight: 550;
    color: rgb(99, 91, 62);
    list-style: none;
}

p{
    color: rgb(99, 91, 62); 
    font-family: sans-serif;
    font-family: hypatia-sans-pro,sans-serif;
    font-weight: 400;
    font-style: normal;
}

.locations li{
    list-style: none;
    font-family: hypatia-sans-pro,sans-serif;
    font-weight: 400;
}

/*Please don’t change this CSS stylesheet for the content hierarchy assginment */