/* CSS DOCUMENT */
body{
     background-color:#D7DBDB;
}
h1 {
    padding: 1em .5em 0em 0em;
    text-transform: uppercase;
    font-family : sans-serif;
    color: rgb(22, 70, 130);
    font-size : 2em;
}
h2{
    text-transform: lowercase;
    font-family: sans-serif;
    color:  rgb(22, 70, 130);
    font-size: .80em;
}
h3{
    text-transform: lowercase;
    font-family: sans-serif;
    color: rgb(101, 121, 219);
}
h4{
    font-family: sans-serif;
}
li{
    list-style: none;
}
p{
    //padding-bottom: 2em;
}