/*CSS DOCUMENT*/

@import url(https://use.typekit.net/hvp0lmd.css);
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;	padding: 0;	border: 0;	vertical-align: baseline;} /*My edited version of the Eric Meyer’s reset tool. Feel free to keep it or delete it. */

div.container {
    margin: auto;
    padding: 1em;
}
img {
    width: 100%; 
    margin: 0;
}

h1 {
    width:10em;
}

body {
    background-color: rgb(229, 233, 236);
}

nav ul li{
    display: inline;
    list-style: none;
    text-transform: uppercase;
    font-family: sans-serif;
}

nav ul li a{
    color: rgb(99, 91, 62);
    text-decoration: none;
    font-family: hypatia-sans-pro,sans-serif;
    font-weight: 550;
    margin: 0em 2em 0em 0em;
}

li a:hover {
    color: rgb(60, 93, 255);
}

h2{
    font-family: variex, sans-serif;
    font-weight: 200;
    font-size: 2em;
    font-style: normal;
    color: rgb(60, 93, 255);
    margin-top: .5em;
}

h3{
    font-family: variex,sans-serif;
    font-weight: 200;
    font-size: 1.3em;
    font-style: normal;
    color: rgb(99, 91, 62);
    margin-top: 1.3em;
}

h3.li{
    list-style: none;
}

h3.coffee{
    font-family: variex,sans-serif;
    font-weight: 200;
    font-size: 1.5em;
    font-style: normal;
    color: rgb(99, 91, 62);
    margin-top: 2em;
    margin-bottom: .2em;
}

.menustyle li{
    padding: .5em 0em 0.5em 0em;
}
.menustyle ul {
    font-family: hypatia-sans-pro,sans-serif;
    font-weight: 550;
    color: rgb(99, 91, 62);
    list-style: none;
    margin-left: 2.5em;
}

.abouttext p{
    color: rgb(99, 91, 62); 
    font-family: hypatia-sans-pro,sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: .3em;
}

.locations li{
    list-style: none;
    font-family: hypatia-sans-pro,sans-serif;
    font-weight: 400;
    margin-left: 2.5em;
}

footer{
    color: rgb(99, 91, 62); 
    font-family: hypatia-sans-pro,sans-serif;
    font-weight: 400;
    font-size: .75em;
    font-style: normal;
    margin-top: 3em;
}

@media screen and (min-width: 40em){

       header {
            display: grid;
            grid-template-columns: 50% 50%;
            margin-top: 1em; 
        }

        header nav ul{
            text-align: right;
        }

        header nav ul li {
            font-size: 1.23em;
        }

        nav ul li a:hover {
            color: rgb(60, 93, 255); 
        }
}
/*Please don’t change this CSS stylesheet for the content hierarchy assginment */